interactions:
- request:
    body: '{"query": "What is the Model Context Protocol", "numResults": 3, "useAutoprompt":
      true, "contents": {"text": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.exa.ai/search
  response:
    body:
      string: "{\"requestId\":\"b2a723b854c31685b8bf4cbda11dbe9a\",\"autopromptString\":\"What
        is the Model Context Protocol\",\"resolvedSearchType\":\"keyword\",\"results\":[{\"id\":\"https://www.anthropic.com/news/model-context-protocol\",\"title\":\"Introducing
        the Model Context Protocol - Anthropic\",\"url\":\"https://www.anthropic.com/news/model-context-protocol\",\"publishedDate\":\"2024-11-25T00:00:00.000Z\",\"author\":\"\",\"text\":\"Today,
        we're open-sourcing the Model Context Protocol (MCP), a new standard for connecting
        AI assistants to the systems where data lives, including content repositories,
        business tools, and development environments. Its aim is to help frontier
        models produce better, more relevant responses. As AI assistants gain mainstream
        adoption, the industry has invested heavily in model capabilities, achieving
        rapid advances in reasoning and qu[...]
