interactions:
- request:
    body: '{"query": "PydanticAI agent pattern implementation example", "numResults":
      2, "useAutoprompt": true, "contents": {"text": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.exa.ai/search
  response:
    body:
      string: "{\"requestId\":\"02aa691b804266b81c383d3dd58e5e93\",\"autopromptString\":\"PydanticAI
        agent pattern implementation example\",\"resolvedSearchType\":\"neural\",\"results\":[{\"id\":\"https://medium.com/@kbdhunga/an-ai-search-agent-built-with-pydanticai-and-langgraph-frameworks-eea929dc665e\",\"title\":\"An
        AI Search Agent Built with PydanticAI and LangGraph Frameworks\",\"url\":\"https://medium.com/@kbdhunga/an-ai-search-agent-built-with-pydanticai-and-langgraph-frameworks-eea929dc665e\",\"publishedDate\":\"2025-01-27T04:11:37.000Z\",\"author\":\"Kamal
        Dhungana\",\"score\":0.34540635347366333,\"text\":\"An AI agent is an autonomous
        software program designed to perceive its environment, make decisions, and
        perform tasks to achieve specific goals without human intervention. These
        agents can interact with users, other systems, or their surroundings, adapting
        their actions based on the information they gather.\uE201\uE206 Pydantic AI
        is a Python framework that simplifies the development of production-grade
        applications utilizing generative AI. It integrates seamlessly with Pydantic,
        a data validation library, to streamline the creation and management of AI
        agents, particularly those powered by large language models (LLMs).\uE206
        LangGraph is a library designed for building stateful, multi-actor applications
        with LLMs.\uE204It enables developers to create agent and multi-agent workflows,
        offering features like moderation, fault-tolerant scalability, persisted context,
        and token-by-token streaming. LangGraph is particularly suitable for applications
        requiring comprehensive control over agent workflows. In summary, while both
        Pydantic AI and LangGraph facilitate the development of AI agents, Pydantic
        AI focuses on integrating Pydantic for streamlined data validation in generative
        AI applications, whereas LangGraph provides a robust framework for constructing
        complex, stateful agent workflows with large\u2026\",\"image\":\"https://miro.medium.com/v2/da:true/resize:fit:1200/0*y8BPx7D6XZYRLyrX\",\"favicon\":\"https://miro.medium.com/v2/5d8de952517e8160e40ef9841c781cdc14a5db313057fa3c3de41c6f5b494b19\"},{\"id\":\"https://github.com/intellectronica/building-effective-agents-with-pydantic-ai\",\"title\":\"GitHub
        - intellectronica/building-effective-agents-with-pydantic-ai: Code examples
        for Building Effective Agents ported and adapted to use Pydantic AI\",\"url\":\"https://github.com/intellectronica/building-effective-agents-with-pydantic-ai\",\"publishedDate\":\"2024-12-20T22:06:59.00[...]
