interactions:
- request:
    body: '{"query": "What is the Model Context Protocol", "numResults": 3, "useAutoprompt":
      true, "contents": {"text": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.exa.ai/search
  response:
    body:
      string: "{\"requestId\":\"9615a1cbd8647daaf8182b6c29a0f613\",\"autopromptString\":\"What
        is the Model Context Protocol\",\"resolvedSearchType\":\"keyword\",\"results\":[{\"id\":\"https://www.anthropic.com/news/model-context-protocol\",\"title\":\"Introducing
        the Model Context Protocol - Anthropic\",\"url\":\"https://www.anthropic.com/news/model-context-protocol\",\"publishedDate\":\"2024-11-25T12:00:00.000Z\",\"author\":\"\",\"text\":\"Application
        error: a client-side exception has occurred (see the browser console for more
        information).\"},{\"id\":\"https://modelcontextprotocol.io/introduction\",\"title\":\"Model
        Context Protocol: Introduction\",\"url\":\"https://modelcontextprotocol.io/introduction\",\"publishedDate\":\"2023-12-21T01:33:54.000Z\",\"author\":\"\",\"text\":\"MCP
        is an open protocol that standardizes how applications provide context to
        LLMs. Think of MCP like a USB-C port for AI applications. Just[...]
