interactions:
- request:
    body: '{"query": "What is the Model Context Protocol", "numResults": 3, "useAutoprompt":
      true, "contents": {"text": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.exa.ai/search
  response:
    body:
      string: "{\"requestId\":\"1a9585b21d3a2cf9ce687b938d5d9abc\",\"autopromptString\":\"What
        is the Model Context Protocol\",\"resolvedSearchType\":\"keyword\",\"results\":[{\"id\":\"https://www.anthropic.com/news/model-context-protocol\",\"title\":\"Introducing
        the Model Context Protocol - Anthropic\",\"url\":\"https://www.anthropic.com/news/model-context-protocol\",\"publishedDate\":\"2024-11-25T12:00:00.000Z\",\"author\":\"\",\"text\":\"Application
        error: a client-side exception has occurred (see the browser console for more
        information).\"},{\"id\":\"https://docs.anthropic.com/en/docs/agents-and-tools/mcp\",\"title\":\"Model
        Context Protocol (MCP) - Anthropic API\",\"url\":\"https://docs.anthropic.com/en/docs/agents-and-tools/mcp\",\"publishedDate\":\"2025-01-01T00:00:00.000Z\",\"author\":\"\",\"text\":\"MCP
        is an open protocol that standardizes how applications provide context to
        LLMs. Think of MCP like a USB-C port for AI applications. Just as USB-C provides
        a standardized way to connect your devices to various peripherals and accessories,
        MCP provides a standardized way to connect AI models to different data sources
        and tools. \\n MCP Documentation Learn more about the protocol, how to build
        servers and clients, and discover those made by others. \\n MCP in Claude
        Desktop Learn how to set up MCP in Claude for Desktop, such as letting Claude
        read and write files to your computer\u2019s file system.\",\"favicon\":\"https://mintlify.s3-us-west-1.amazonaws.com/anthropic/_generated/favicon/favicon-32x32.png?v=3\"},{\"id\":\"https://modelcontextprotocol.io/introduction\",\"title\":\"Model
        Context Protocol: Introduction\",\"url\":\"https://modelcontextprotocol.io/introduction\",\"publishedDate\":\"2023-12-21T01:33:54.000Z\",\"author\":\"\",\"text\":\"MCP
        is an open protocol that standardizes how applications provide context to
        LLMs. Think of MCP like a USB-C port for AI applications. J[...]
